In [8]:
# Día

##Temario:
- Tipos de datos
- Operaciones matemáticas
- Operaciones con string
- Operaciones lógicas
- Operaciones booleanas

SyntaxError: invalid syntax (ipython-input-2420094958.py, line 4)

In [7]:
Tipos de datos
# Existen los datos:
enteros = 4 # Son números sin decimales
flotantes = 3.9 # Son números con decimales
type(enteros)

SyntaxError: invalid syntax (ipython-input-3965060799.py, line 1)

In [6]:
# Caracteres/ Strings
caracteres = "a"
cadena_caracteres = "Todas las letras que quieras"
type(cadena_caracteres)

str

In [5]:
# Booleanos
falso = False # falso es 0
verdadero = True #verdadero es 1

In [4]:
# imprimir
print(enteros)

NameError: name 'enteros' is not defined

### Espera, el usuario también puede ingresar datos

Operaciones matemáticas

In [3]:
# 4to Nivel de importancia
# Suma Ordinaria
print(3 + 4) # un 7
variable1,variable2 = 20,40 # 60
print(variable1 + variable2)

# Resta ordinaria
print(2 - 5) # -3

# Declaración de varibales
v1 = 10.4
v2 = 15
resultado = v2 - v1
print(resultado) #4.6

7
60
-3
4.6

In [10]:
# 3er Nivel de importancia
# Multiplicación Ordinaria
print("Multiplicación Ordinaria")
M1, M2 = 2,3.14
print(M1 * M2) # 6.28
# División Ordinaria
print("-------------")
print("División Ordinaria")
M1,M2,M3,M4,M5,M6 = 2,5,6,5,4,5
print(M1 / M2)
print(M3 / M4)
print(M5 / M6)
# División de piso
print("-------------")
print("División de piso")
print(M1// M2)
print(M3 // M4)
print(M5 // M6)

print(6/2 * 3)

Multiplicación Ordinaria
6.28
-------------
División Ordinaria
0.4
1.2
0.8
-------------
División de piso
0
1
0
9.0

In [ ]:
# Potencia
print("Potencias")
print(2 ** 3) # 8
P1,P2 = 7,2
print(P1 ** P2) # 49

In [11]:
# Área de un círculo
pi = 3.14
r = 4
A = pi * (r ** 2)

Operación String

In [13]:
HM = "Hola, Mundo"
print(HM)

a,b = "ta","co"
print(a + b)

Hola, Mundo
taco

In [14]:
# Animal, debe tener un nombre, le debe gustar una fruta, debe tener una profesión
Animal = "Primate"
Nombre = "Adán"
Fruta = "Huesos"
Profesión = "Ingeniero"
print(f"Hola, soy {Nombre} y soy un {Animal}, me gusta golpear con {Fruta} y soy {Profesión}")

Hola, soy Adán y soy un Primate, me gusta golpear con Huesos y soy Ingeniero

Operaciones Lógicas

In [ ]:
# Empezamos con los operadores lógicos <,>,<=,>=,and,or (Siempre retorna un booleano)

In [21]:
b1 = 4 > 5
b2 = 7 > 3
b3 = 14 > 14
b4 = 14 >= 14
b4

True

In [22]:
# Quieres un sandwich con todo
pan = True
queso = True
mayonesa = True
jamón = False
print(pan and queso and mayonesa and jamón)

False

In [23]:
print(True * 20)
print(False * 10)

20
0