# Día 3

## Temario
- Listas
- Tuplas
- Sets
- Diccionarios

# Estructuras de datos

Las estructuras de datos son formas de organizar información para trabajar con ellas de manera eficiente.

- Listas -> ordenadas, modificadas, permiten duplicados
- Tuplas -> ordenadas, inmutables, permiten duplicados
- Sets -> no son ordenados, sin duplicados
- Diccionarios -> pares claves:valor

Nota:
- Pilas (FILO -> first in, last out)
- Colas (FIFO -> first in, first out)
- Listas enlazadas (o doblemente enlazadas)

## Listas
Las listas son coelecciones ordenadas que podemos modificar y almacenan elementos de distintos tipos de datos

In [23]:
lista_de_compras = ["manzanas", "pan", "leche", "huevos", "mantequilla", "queso", "jamón"]
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón']

In [24]:
print(lista_de_compras[0])

manzanas

In [25]:
# Agregar un elemento a la lista .append()
lista_de_compras.append("sopa")
lista_de_compras

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón', 'sopa']

In [26]:
# Agregar un elemento en una posición específica
lista_de_compras.insert(2, "plátano")
lista_de_compras

['manzanas',
 'pan',
 'plátano',
 'leche',
 'huevos',
 'mantequilla',
 'queso',
 'jamón',
 'sopa']

In [27]:
print(lista_de_compras)

['manzanas', 'pan', 'plátano', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón', 'sopa']

In [28]:
# Para eliminar un elemento de una lista existe el remove y el pop
lista_de_compras.remove("plátano")
print(lista_de_compras)

['manzanas', 'pan', 'leche', 'huevos', 'mantequilla', 'queso', 'jamón', 'sopa']

In [29]:
lista_de_compras.pop() # Sin nada dentro del paréntesis borra el último elemento
lista_de_compras.pop(4) #o puedes agarrar la posición que quieras pero iniciando desde el 0
# Nota: te retorna el número eliminado

'mantequilla'

In [31]:
# Podemos recorrer el arreglo por medio de un for
for elementos in lista_de_compras:
  print(elementos)

manzanas
pan
leche
huevos
queso
jamón

In [34]:
# len() saca el tamaño de la lista
print(len(lista_de_compras))
for i in range(len(lista_de_compras)):
  print(f"{i + 1} - {lista_de_compras [i]}")

6
1 - manzanas
2 - pan
3 - leche
4 - huevos
5 - queso
6 - jamón

In [38]:
promedios = [55.6,97.5,23.6,97.5,72.4,100]
print(promedios)
promedios.sort() # sort() sirve para ordenar la lista de manera ascendente
print(promedios)
# ordenar una lista de manera descendente
promedios.sort(reverse = True)
print(promedios)

[55.6, 97.5, 23.6, 97.5, 72.4, 100]
[23.6, 55.6, 72.4, 97.5, 97.5, 100]
[100, 97.5, 97.5, 72.4, 55.6, 23.6]

In [39]:
# Podemos ingrear al último elemento de una lista
print(promedios[-1])

23.6

In [42]:
# Encontrar el mayor y el menor de una lista
print(max(promedios))
print(min(promedios))

100
23.6

In [44]:
# Declaración y uso de matrices
calificaciones = [[100,88,93], [99,56,72]]
print(calificaciones)
i = 1
for cali_i in calificaciones:
  print(f"\nAlumno {i}")
  j = 1
  for cali_j in cali_i:
    print(f" Cali {j}:{cali_j}")
    j += 1
  j = 0
  i+= 1

[[100, 88, 93], [99, 56, 72]]

Alumno 1
 Cali 1:100
 Cali 2:88
 Cali 3:93

Alumno 2
 Cali 1:99
 Cali 2:56
 Cali 3:72

## Tuplas
Colecciones ordenadas pero inmutables

In [45]:
# Hagamos un programa donde guardemos fechas de nacimiento de un grupo en una tupla
fechas = ("10/10/05","22/03/02","17/04/04","25/02/04")
fechas

('10/10/05', '22/03/02', '17/04/04', '25/02/04')

In [46]:
# ES INMUTABLE
fechas.append("10/06/03") #Te va a marcar error

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
fecha_lista = list(fechas) #Aquí ya puedes usar los comandos básicos de una lista

## Sets
Los sets son coelecciones sin orden y que no permiten elementos duplicados

In [48]:
nombre = {"Ángel", "Eliud", "Diana", "Juan", "Juan"}
print(nombre)
print(type(nombre))

{'Ángel', 'Juan', 'Eliud', 'Diana'}
<class 'set'>

In [49]:
distintos_datos = {"Ángel", 1, "Diana", "Juan", "Juan", 4.8}
distintos_datos

{1, 4.8, 'Diana', 'Juan', 'Ángel'}

In [50]:
# Add
nombre.add("Leonardo")
nombre

{'Diana', 'Eliud', 'Juan', 'Leonardo', 'Ángel'}

In [51]:
print(nombre[2])

TypeError: 'set' object is not subscriptable

In [52]:
nombre[2] = Axel

NameError: name 'Axel' is not defined

In [53]:
# Unión
matutino = {20322, 22183, 123123, 53234}
vespertino = {20322, 111111, 2222222, 3333333}
#Union con .union
total_matrículas = matutino.union(vespertino)
print(total_matrículas)
#Union con |
total_matrículas = matutino | vespertino
print(total_matrículas)

{20322, 22183, 111111, 2222222, 53234, 123123, 3333333}
{20322, 22183, 111111, 2222222, 53234, 123123, 3333333}

In [54]:
#Intersección
ca = {1234,121,646,12414,73434,124124, 675234}
al = {1234, 111, 222, 333, 444}
#intersección con .intersection
ca_al = ca.intersection(al)
print(ca_al)
#Intersección con &
ca_al = ca & al
print(ca_al)

{1234}
{1234}

In [56]:
#Diferencia#Usando .difference
solo_cálculo =ca.difference(al)
print(solo_cálculo)
#Usando -
solo_cálculo = ca - al
print(solo_cálculo)

{675234, 646, 121, 73434, 124124, 12414}
{675234, 646, 121, 73434, 124124, 12414}

In [61]:
nombre = {"Ángel", "Eliud", "Diana", "Juan", "Juan"}
# remove, pop
nombre.remove("Ángel") # Puedes eliminar el que tu quieras
print(nombre)
nombre.pop() #Elimina un elemento de manera aleatoria
print(nombre)

{'Juan', 'Eliud', 'Diana'}
{'Eliud', 'Diana'}

In [62]:
#Eliminar todo el Set
nombre.clear()
nombre

set()

## Diccionarios
Los diccionarios son colecciones no ordenadas de pares clave:valor

In [63]:
alumno = {
    # clave     valor
    "nombre": "Eliud Sánchez",
    "edad":21,
    "carrera": "LCC",
    "semestre": 7,
    "promedio":88,
    "calificaciones": [100,94, 94, 97, 100]
}
print(type(alumno))
alumno

<class 'dict'>

{'nombre': 'Eliud Sánchez',
 'edad': 21,
 'carrera': 'LCC',
 'semestre': 7,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 97, 100]}

In [65]:
print("El alumno ", alumno["nombre"], "esta estudiando ", alumno["carrera"])

El alumno  Eliud Sánchez esta estudiando  LCC

In [67]:
# Agregar al diccionario
alumno["área preferida"] = "Ciencia de Datos"
alumno

{'nombre': 'Eliud Sánchez',
 'edad': 21,
 'carrera': 'LCC',
 'semestre': 7,
 'promedio': 88,
 'calificaciones': [100, 94, 94, 97, 100],
 'área preferida': 'Ciencia de Datos'}

In [68]:
for valor in alumno:
  print(alumno[valor])

Eliud Sánchez
21
LCC
7
88
[100, 94, 94, 97, 100]
Ciencia de Datos

In [70]:
for aspecto, valor in alumno.items(): #Devuelve una vista de todos los pares clave:valor del diccionario
  print(aspecto, ":", valor)

nombre : Eliud Sánchez
edad : 21
carrera : LCC
semestre : 7
promedio : 88
calificaciones : [100, 94, 94, 97, 100]
área preferida : Ciencia de Datos

In [71]:
#El método .clear() también usar aquí.
#Tenemos el .get que nos ayuda a obtener el valor (value) de cierta clave (key)
print(alumno.get("nombre"))

Eliud Sánchez

In [74]:
alumno_1 = alumno.items()
print(alumno_1)
print(type(alumno_1))
alumno_lista = list(alumno_1)
print(alumno_lista)
print(type(alumno_lista))

dict_items([('nombre', 'Eliud Sánchez'), ('edad', 21), ('carrera', 'LCC'), ('semestre', 7), ('promedio', 88), ('calificaciones', [100, 94, 94, 97, 100]), ('área preferida', 'Ciencia de Datos')])
<class 'dict_items'>
[('nombre', 'Eliud Sánchez'), ('edad', 21), ('carrera', 'LCC'), ('semestre', 7), ('promedio', 88), ('calificaciones', [100, 94, 94, 97, 100]), ('área preferida', 'Ciencia de Datos')]
<class 'list'>

In [75]:
# El método .values() sirve para obtener los values del diccionario, también puede usar
alumno_v = alumno.values()
print(type(alumno_v))
alumno_v

<class 'dict_values'>

dict_values(['Eliud Sánchez', 21, 'LCC', 7, 88, [100, 94, 94, 97, 100], 'Ciencia de Datos'])

In [77]:
if "carrera" in alumno:
  print("Existe carrera")
else:
  print("No existe carrera")
if("dinero") in alumno:
  print("Alumno tiene dinero")
else:
  print("Alumno no tiene dinero")

Existe carrera
Alumno no tiene dinero

In [78]:
# .copy() puedes copiar todo el diccionario en una nueva variable
# Update -> sirve para cambiar los vales (.update())
alumno.update({"semestre":6})